
.notion-root {
  max-width: 720px!important;
}
.super-root {
  overflow: hidden!important;
}

.super-content {
  padding: 120px !important;
  position: relative; 
  z-index: 10;
}

@media (max-width: 768px) {
    .super-navbar__content, .super-footer {
        padding: 10px;
    }
}

@media (max-width: 1020px) {
  .super-content {
    padding: 0px !important;
  }
}

@media (max-height: 768px) and (orientation: landscape) {
  /* 핸드폰을 가로로 돌렸을 때 웹과 동일한 레이아웃 설정 */
  .super-footer {
    display: none !important;
  }

  .notion-collection-gallery {
    position: fixed !important;
    height: 100% !important;
    width: 47.5vw !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 !important;
  }

  .super-content {
    margin-left: 50vw !important;
    width: 50vw !important;
  }

  .notion-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .notion-page__properties.middle {
    display: none !important;
  }

  .notion-collection-card.gallery .notion-property__title {
    opacity: 0;
  }

  .notion-collection-card.gallery:hover .notion-property__title {
    opacity: 1;
    transform: translateY(0);
  }
  
  .notion-image,
  .notion-link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}

.notion-header {
  position: fixed !important;
  height: 100vh !important;
  width: 48.9vw !important;
  top: 0 !important;
  right: 0 !important;
  margin: 0 !important;
  z-index: 0;
}

.notion-header__cover {
  max-height: 100% !important;
  height: 100% !important;
  width: 100%;
  object-fit: cover;
  z-index: inherit;
}

@media (max-width: 768px) {
  .notion-header__title {
    display: none;
  }

  .notion-page__properties.middle {
      display: none;
  }
  
  .notion-image,
  .notion-link {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  
  .super-navbar__content .notion-link {
    display: flex;
    margin: 0 !important;
    text-align: initial !important;
    align-items: center !important;
  }


  .notion-header {
    position: static !important;
    height: auto !important;
    width: 100% !important;
    top: 0 !important;
    margin-bottom: 20px;
    z-index: 10;
  }

  .notion-header__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    max-height: 200px !important;
    object-fit: cover;
  }
  
  .notion-header__cover::after {
    content: none;
    background: none;
  }
}

.notion-header__cover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  pointer-events: none;
}


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    text-decoration: none;
    outline: none;
}

h1 {
    letter-spacing: -1.5px !important;
    margin-bottom: 20px !important;
}

.notion-collection-gallery {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-gap:10px !important;
    margin: 40px 0 !important;
    border: none !important;
    padding: 0 !important;
    position: fixed !important;
    height: 100 !important;
    width: 47.5vw !important;
    bottom: 40px !important;
    margin: 0 !important;
    left: 5px !important;
    top: 40px !important;
}

.notion-collection-card.gallery {
    transition: transform .3s cubic-bezier(.4, 0, .2, 1) !important;
    overflow: hidden !important;
    box-shadow: none !important;
    margin: 20px !important; /* 카드에 마진 추가 */
}

.notion-collection-card.gallery:before {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%) !important;
    pointer-events: none !important;
    position: absolute !important;
    content: "" !important;
    z-index: 1 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    top: 0 !important;
}

.notion-collection-card__cover,
.notion-collection-card__cover>div,
.notion-collection-card__cover img {
    border: none !important;
    height: 100% !important;
}

.notion-property__title__icon-wrapper {
    display: none !important;
}

.notion-collection-card.gallery .notion-property__title {
    position: absolute !important;
    padding: 24px 30px !important;
    max-width: 400px !important;
    font-size: 20px !important;
    color: #fff !important;
    z-index: 2 !important;
    bottom: 0 !important;
    left: 0 !important;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.notion-collection-card.gallery:hover .notion-property__title {
    opacity: 1;
    transform: translateY(0);
}

.notion-collection-card:nth-child(1) {
    grid-column: span 2 / auto;
}
.notion-collection-card:nth-child(4) {
    grid-column: span 2 / auto;
}

.notion-collection-card:hover {
    transform: translateY(-8px) !important;
}

.notion-collection-card:active {
    transform: translateY(0) !important;
}

.notion-collection-gallery__cover {
  max-height: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .notion-page__properties-layout {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }

  .notion-collection-gallery {
    position: static !important;
    width: 100% !important;
    height: 500px !important;
    margin: 0 auto !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .notion-collection-card {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    width: 100% !important;
    height: 80px !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
  }

  .notion-collection-card.gallery .notion-property__title {
      opacity: 1 !important;
      transform: translateY(0) !important;
  }
}
